.App {
  text-align: center;
  
}

.ClassRed{
  color: red;
}

.ClassBold{
font-weight: bold;
}

/* sudo selectors of css => in react this can be done importing radium
.button {
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}

.button:hover {
  background-color: aqua;
  color: white;
}
*/